.cardCuadrada {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 13vw;
    height: 13vw;
    text-align: start;
    padding: 2vw;
}

.cardCuadrada-cont-img{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cardCuadrada img {
    width: 4em;
}

.cardCuadrada:hover{
    cursor: pointer;
    transform: scale(1.01);
}