.cardOperadorPendiente-container{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.detalles-OperadorPendiente{
    text-align: start;
}

.detalles-OperadorPendiente .manrope4{
    font-weight: 700;
}

.btn-asignarRutaRecoleccion{
    width: 30%;
}