.cardOperadorActual-container{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.cardOperadorActual-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}

.icono-card-operadorActual{
    max-width: 4em;
    max-height: 4em;
}

.detalles-OperadorActual{
    text-align: start;
}

.detalles-OperadorActual .manrope4{
    font-weight: 700;
}

.btn-asignarRutaRecoleccion{
    width: 30%;
}

.nombreRuta{
    margin-top: 1em;
    font-weight: 500;
    color: #4D4D4D;
}

.cardOperadorActual-bottom{
    display: flex;
    flex-direction: column;
    justify-content: bottom;
    align-items: flex-start;
}

.barra-progresoRecolecciones{
    background: #66FFA1;
    border-radius: 25em;
    height: 10px;
}