.Formulario-container{
    width: 500px;
    height: fit-content;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.item-formulario{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1em;
}

.input-label{
    margin-left: 1em;
}

.formulario-col-2{
    margin-top: -0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.formulario-col-2 input{
    width: 42%;
}

.label-only{
    text-align: start;
    margin-left: 1em;
    margin-bottom: 0.3em;
}

.espacio-extra{
    margin-bottom: 2em;
}

.btn-formulario{
    position: absolute;
    bottom: -1em;
    align-self: center;
    justify-self: end;
    width: 50%;
}

.agregar-inputDonador{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.agregar-inputDonador p{
    margin-left: 0.5em;
}

.item-donador{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alertaInput {
    border-bottom-color: red;
    border-top-color: red;
    border-left-color: red;
    border-right-color: red;
}