@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


/* Estilos generales de fuente. Pendientes a modificar a otra unidad. */

.bebas1 {
    font-family: 'Bebas Neue';
    font-size: 60px;
    font-weight: 400;
}

.bebas2 {
    font-family: 'Bebas Neue';
    font-size: 36px;
}

.bebas3 {
    font-family: 'Bebas Neue';
    font-size: 30px;
}

.bebas4 {
    font-family: 'Bebas Neue';
    font-size: 24px;
}

.bebas5 {
    font-family: 'Bebas Neue';
    font-size: 18px;
}

.manrope1 {
    font-family: 'Manrope';
    font-size: 60px; 
}

.manrope2 {
    font-family: 'Manrope';
    font-size: 36px;
}

.manrope3 {
    font-family: 'Manrope';
    font-size: 30px; 
}

.manrope4 {
    font-family: 'Manrope';
    font-size: 24px; 
}

.manrope5 {
    font-family: 'Manrope';
    font-size: 18px; 
}

.manrope6 {
    font-family: 'Manrope';
    font-size: 14px; 
}

.manrope7 {
    font-family: 'Manrope';
    font-size: 12px; 
}

p{
    font-family: 'Manrope';
    font-size: 18px;
    color: #1A1A1A
}

.blanco{
    color: #F7F7F7;
}

.negro{
    color: #1A1A1A;
}

.delgada{
    font-weight: lighter;
}

.subrayada{
    text-decoration: underline;
}

.bold{
    font-weight: 700;
}