.header-container{
    width: 50%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

.header-left{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.input-busqueda{
    width: 90%;
}

.header-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.agregar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.btn-agregar{
    margin-left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border-style: none;
}

.btn-filtros{
    width: 100%;
    text-align: start;
}