.headerBusqueda-container{
    width: 80%;
    display: flex;
    flex-direction: column;
}


.headerBusqueda-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.headerBusqueda-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerBusqueda-bottom .input-busqueda{
    width: 65%;
    margin-right: 0.5em;
}

.headerBusqueda-bottom .btn-filtros{
    width: 30%;
}

.agregar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}