.headerTituloContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.datosOperadorRecolecciones {
    display: flex;
    justify-content: space-around;
}

.datosOperador {
    text-align: left;
}

.listaRestantes img {
    height: 1.5vw;
}

.listaRestantes li {
    list-style: none;
}

.datosRecolecciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}