.ImagenFormulario-container{
    display: flex;
    width: 500px;
    height: inherit;
    border-radius: 25px;
    background-image: url(https://www.gem216.gob.mx/w2/fts_w2/w2_12916_4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}