.modal-overlay{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 2vh;
    overflow: auto;
    background: rgba(44, 44, 44, 0.431);
    z-index: 100;
}

.modalMapa-container{
    width: 50vw;
    padding: 1.75em !important;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    overflow: hidden;
}

.modalMapa-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.2em;
}

.ubicacion{
    font-weight: bolder;
    margin-bottom: 1.5em;
}