.modal-overlay{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 2vh;
    overflow: auto;
    background: rgba(44, 44, 44, 0.431);
    z-index: 100;
}

.modalConfirmacion-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modalConfirmacion-header{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.modalConfirmacion-header i{
    font-size: 36px;
}

.modalConfirmacion-body{
    width: 60%;
    justify-content: space-around;
    display: flex;
    text-align: center;
    flex-direction: row;
    margin-bottom: 2em;
}

.modalConfirmacion-acciones{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn-cerrar{
    border-style: none;
    background: rgba(255, 255, 255, 0);
    border-radius: 25em;
    
}

.btn-cerrar:hover{
    cursor: pointer;
}