.modal-overlay{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 2vh;
    overflow: auto;
    background: rgba(44, 44, 44, 0.431);
    z-index: 100;
}

.modalDetallesRuta-container{
    width: 50vw;
    padding: 1.75em !important;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    overflow: hidden;
}

.modalDetallesRuta-izquierda{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.modalDetallesRuta-izquierda img{
    position: absolute;
    margin-top: 220px;
    margin-left: -70px;
    width: 20em;
}

.modalDetallesRuta-derecha{
    display: flex;
    flex-direction: column;
}


.modalDetallesRuta-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.modalTitulo{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.modalTitulo .manrope4{
    font-weight: 700;
}

.btn-cerrar{
    border-style: none;
    background: rgba(255, 255, 255, 0);
    border-radius: 25em;
    
}
.btn-cerrar i {
    font-size: 36px;
}

.btn-cerrar:hover{
    cursor: pointer;
}

.modalDetallesRuta-body{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.modalRutaIndividual{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.modalRutaIndividual i{
    font-size: 24px;
    margin-right: 10px;
}

.infoRutaIndividual{
    text-align: start;
    display: flex;
    flex-direction: column;
}

.infoRutaIndividual .manrope4{
    font-weight: 800;
}

.modalDetallesRuta-acciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modalDetallesRuta-acciones button{
    margin: 0 0.5em;
}


