*{
    margin: 0;
}

.red-gradient{
    background: linear-gradient(111.13deg, #EA2040 2.15%, rgba(239, 73, 20, 0.71) 103.28%);
}

.green-gradient{
    background: linear-gradient(113.19deg, #006627 40.72%, #3A9F0B 101.04%);
}

.orange-gradient{
    background: linear-gradient(112.19deg, #F86F2D 22.06%, #EAA43B 103.31%);
}

body{
    width: 99.988%;
    height: 100vh;
    overflow-x: hidden;
}

main{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-left: 5vw;
    position: relative;
}

header{
    width: 80%;
    display: flex;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 3em;
    z-index: 10;
}

.contenido{
    width: 80%;
    z-index: 1;
    margin-bottom: 3em;
}
.contenidoFormulario-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cardsCuadradas-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 71vh;
    position: relative;
    overflow: hidden;
}

.cardsOperadorPendiente-container .cardCuadrada{
    margin-bottom: 2em;
}

.cardsOperadorPendiente-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.cardsCuadradas-container .cardCuadrada{
    margin-bottom: 1em;
}

.cardsCuadradas-container::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px #afafaf;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #afafaf;
	background-color: #afafaf;
}

.cardsCuadradas-container::-webkit-scrollbar
{
	width: 0.2em;
	background-color: #afafaf;
}

.cardsCuadradas-container::-webkit-scrollbar-thumb
{
	border-radius: 2em;
    background: rgba(0, 0, 0, 0.513);
    padding: 1.250em;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

body::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px #afafaf;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #afafaf;
	background-color: #afafaf;
}

body::-webkit-scrollbar
{
	width: 0.5em;
	background-color: #afafaf;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 2em;
    background: rgba(0, 0, 0, 0.513);
    padding: 1.250em;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.aguacateError {
    align-self: center;
    position: absolute;
    left: 25%;
    top: 20vh;
}

.sandiaError {
    align-self: center;
    position: absolute;
    left: 25%;
    top: 20vh;
}

.zanahoriaVacia {
    align-self: center;
    position: absolute;
    left: 31%;
    top: 10vh;
}

.limonCorredor{
    align-self: center;
    position: absolute;
    left: 24%;
    top: 13vh;
}

.apioCorredor{
    align-self: center;
    position: absolute;
    left: 25%;
    top: 17vh;
}

.brocoliVacio{
    align-self: center;
    position: absolute;
    left: 23.5%;
    top: 13vh;
    height: 80vh;
}

.textoError {
    align-self: center;
    text-align: center;
    position: relative;
    top: 60vh
}